body{
    background-color: rgba(0, 0, 0, 0.822);
    color: azure;
    font: 20pt Arial;
    margin: 20px;

}

input{
    font: 20pt Arial
    
}

div{
    color: aqua;
    margin-top: 20px;

}

p{
    margin: 18px;
    font
}